ul.nav.nav-list
    each value, key in theme.menu
        li.nav-list-item
            - var re = /^(http|https):\/\/*/i;
            - var absolute = re.test(value)
            - var tar = absolute ? '_blank' : '_self'
            - var act = !absolute && '/' + path.substring(0, path.lastIndexOf('/index.html')) === value
            - var url = absolute ? value : url_for(value)
            a.nav-list-link(class={active: act} href=url, target=tar)
                != key.toUpperCase()
